* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    border: 1px solid black;
    background-color: white;
    box-shadow: 0px px 5px gray;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between;
    padding: 5px;
}   

.logo {
    font-size: 18px;
    color: black;
    padding: 4px;
}

.logo:hover {
    background-color: gray;
    cursor: pointer;
}

.logo{
    font-size: 20px;
    color: black;
    padding: 7px;
}   

.listNavigation {
    list-style: none;
    display: flex; /* Use flexbox for horizontal layout */
    gap: 18px;
    padding: 8px;
}   

.listNavigation a {
    text-decoration: none;
    color: black;
    padding-top: 8px;
    font-weight: bold;
    font-size: 18px;
}

.HeroSection {
    background-image: url('https://www.w3schools.com/w3images/architect.jpg');
    background-size: cover;
    height: 600px;
}

.HeroSection-Text {
    text-align: center;
    padding-top: 300px;
}

.section1-h1 {
    font-size: 40px;
    color: white;
    font-weight: 400;
    text-align: center;
}


