* {
    margin: 0;
    padding: 0;
    /*padding: 20px;*/
}

body {
    background-color: rgba(173, 216, 230, 0.346);
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.division {
    border: gray solid 1px;
    padding: 10px;
    background-color: white ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.0);
}

#first-children-heading {
        text-align: center;
        padding:5px;
        color: rgba(137, 43, 226, 0.612);
}

    #second-children-heading {
    text-align: center;
}